<aside class="col-lg-3">
					<div class="widget search_blog d-none d-sm-none d-md-none d-lg-block">
						<div class="form-group">
							<input type="text" name="search" id="search_blog" class="form-control" placeholder="Search..">
							<button type="submit"><i class="ti-search"></i></button>
						</div>
					</div>
					<!-- /widget -->
					<div class="widget">
						<div class="widget-title">
							<h4>Latest Post</h4>
						</div>
						<ul class="comments-list">
							{% for l_post in latest_posts%}
							<li>
								<div class="alignleft">
									<a href="#0"><img src="{{l_post.image.url}}" alt=""></a>
								</div>
								<small>{{l_post.category}}</small>
								<h3><a href="{%  url 'detail_post' slug=l_post.slug %}" title="">{{l_post.contenu | truncatechars:30}}</a></h3>
							</li>
							{% endfor%}

						</ul>
					</div>
					<!-- /widget -->
					<div class="widget">
						<div class="widget-title">
							<h4>Categories</h4>
						</div>
						<ul class="cats">
							{% for cat in categories %}
							<li><a href="#">{{cat.libelle}} <span>({{cat.post_set.count}})</span></a></li>
							{% endfor%}
						</ul>
					</div>
					<!-- /widget -->
					<div class="widget">
						<div class="widget-title">
							<h4>Popular Tags</h4>
						</div>
						<div class="tags">
							{% for tag in tags %}
							<a href="#">{{tag.libelle}}</a>
							{% endfor%}
						</div>
					</div>
					<!-- /widget -->
				</aside>
				<!-- /aside -->