{% load static %}
<div class="header-video">
			<div id="hero_video">
				<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
					<div class="container">
						<div class="row justify-content-center justify-content-md-start">
							<div class="col-lg-6">
								<div class="slide-text white">
									<h3>Armor Air<br>Max 720 Sage Low</h3>
									<p>Le produit est limité maintenant</p>
									<a class="btn_1" href="#0" role="button">Achetez Maintenant</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<img src="{% static 'img/video_fix.png'%}" alt="" class="header-video--media" data-video-src="{% static 'video/intro.mp4'%}" data-teaser-source="{% static 'video/intro.mp4'%}" data-provider="" data-video-width="1920" data-video-height="960">
		</div>
		<!-- /header-video -->

		<div class="feat">
			<div class="container">
				<ul>
					<li>
						<div class="box">
							<i class="ti-gift"></i>
							<div class="justify-content-center">
								<h3>Espace libre</h3>
								<p>Disposez d'un espace virtuel libre</p>
							</div>
						</div>
					</li>
					<li>
						<div class="box">
							<i class="ti-wallet"></i>
							<div class="justify-content-center">
								<h3>Paiement Sécurisé</h3>
								<p>Votrepaiement est sécurisé</p>
							</div>
						</div>
					</li>
					<li>
						<div class="box">
							<i class="ti-headphone-alt"></i>
							<div class="justify-content-center">
								<h3>Notre support</h3>
								<p>Assistance en ligne 24h/24</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--/feat-->