{% extends 'base.html'%}
{% load static%}

    {%block specific_css%}
 <!-- SPECIFIC CSS -->

    <link href="{% static 'css/listing.css'%}" rel="stylesheet">

 {% endblock%}
{% block content%}



			<div id="stick_here"></div>
			<form class="toolbox elemento_stick">
				<div class="container">
				<ul class="clearfix">
					<li>
						<form method="get">
						<div class="sort_select">
							<select name="sort" id="sort">
                                    <option value="popularity" >Trier selon la demande</option>
                                    <option value="rating">Trier selon le prix: petit au grand</option>
                                    <option value="rating2">Trier selon le prix: grand au petit</option>
                                    <option value="date">Trier selon la nouveauté</option>

							</select>
						</div>
							<input type="submit" value="soumettre" >
						</form>
					</li>

					<li>
						<a href="{% url 'list_produits' %}"><i class="ti-view-grid"></i></a>
						<a href="{% url 'list_produits_2' %}"><i class="ti-view-list"></i></a>
					</li>
					<li>
						<a data-bs-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters">
							<i class="ti-filter"></i><span>Filters</span>
						</a>
					</li>
				</ul>
				<div class="collapse" id="filters"><div class="row small-gutters filters_listing_1">

				<form method="get" class="col-lg-3 col-md-6 col-sm-6">


					<div class="dropdown">
						<a href="#" data-bs-toggle="dropdown" class="drop">Categories</a>

						<div class="dropdown-menu">
							<div class="filter_type">

									<ul>
										{% for cat in categories%}
										<li>
											<label class="container_check">{{cat.libelle}} <small>{{cat.product_set.count}}</small>
											  <input type="checkbox" value="{{cat.libelle}}" >
											  <span class="checkmark"></span>
											</label>
										</li>
										{% endfor%}
									</ul>
								<!--	<a href="#0" class="apply_filter">Appliquer</a>-->
								<input type="submit" class="apply_filter" value="Appliquer">
								</div>
						</div>
					</div>
					<!-- /dropdown -->
				</form>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="dropdown">
						<a href="#" data-bs-toggle="dropdown" class="drop">Color</a>
						<div class="dropdown-menu">
							<div class="filter_type">
									<ul>
										<li>
											<label class="container_check">Blue <small>06</small>
											  <input type="checkbox">
											  <span class="checkmark"></span>
											</label>
										</li>
										<li>
											<label class="container_check">Red <small>12</small>
											  <input type="checkbox">
											  <span class="checkmark"></span>
											</label>
										</li>
										<li>
											<label class="container_check">Orange <small>17</small>
											  <input type="checkbox">
											  <span class="checkmark"></span>
											</label>
										</li>
										<li>
											<label class="container_check">Black <small>43</small>
											  <input type="checkbox">
											  <span class="checkmark"></span>
											</label>
										</li>
									</ul>
									<a href="#0" class="apply_filter">Apply</a>
								</div>
						</div>
					</div>
					<!-- /dropdown -->
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="dropdown">
						<a href="#" data-bs-toggle="dropdown" class="drop">Brand</a>
						<div class="dropdown-menu">
							<div class="filter_type">
									<ul>
										<li>
											<label class="container_check">Adidas <small>11</small>
											  <input type="checkbox">
											  <span class="checkmark"></span>
											</label>
										</li>
										<li>
											<label class="container_check">Nike <small>08</small>
											  <input type="checkbox">
											  <span class="checkmark"></span>
											</label>
										</li>
										<li>
											<label class="container_check">Vans <small>05</small>
											  <input type="checkbox">
											  <span class="checkmark"></span>
											</label>
										</li>
										<li>
											<label class="container_check">Puma <small>18</small>
											  <input type="checkbox">
											  <span class="checkmark"></span>
											</label>
										</li>
									</ul>
									<a href="#0" class="apply_filter">Apply</a>
								</div>
						</div>
					</div>
					<!-- /dropdown -->
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="dropdown">
						<a href="#" data-bs-toggle="dropdown" class="drop">Price</a>
						<div class="dropdown-menu">
							<div class="filter_type">
									<ul>
										<li>
											<label class="container_check">$0 — $50<small>11</small>
											  <input type="checkbox">
											  <span class="checkmark"></span>
											</label>
										</li>
										<li>
											<label class="container_check">$50 — $100<small>08</small>
											  <input type="checkbox">
											  <span class="checkmark"></span>
											</label>
										</li>
										<li>
											<label class="container_check">$100 — $150<small>05</small>
											  <input type="checkbox">
											  <span class="checkmark"></span>
											</label>
										</li>
										<li>
											<label class="container_check">$150 — $200<small>18</small>
											  <input type="checkbox">
											  <span class="checkmark"></span>
											</label>
										</li>
									</ul>
									<a href="#0" class="apply_filter">Apply</a>
								</div>
						</div>
					</div>
					<!-- /dropdown -->

				</div></div></div>
				</div>

			</form>

			<!-- /toolbox -->

			<div class="container margin_30">
			<div class="row small-gutters">
				{% for produit in produits%}
				<div class="col-6 col-md-4 col-xl-3">
					<div class="grid_item">
						<figure>
							<!--<span class="ribbon off">-30%</span>-->
							<a href="{% url 'detail_produit' pk=produit.pk %}">
								<img class="img-fluid lazy" src="{{produit.image.url}}" data-src="{{produit.image.url}}" alt="" style="max-height:200px;object-fit:cover;">
							</a>
							<!--<div data-countdown="2019/05/15" class="countdown"></div>-->
						</figure>
						<a href="{% url 'detail_produit' pk=produit.pk %}">
							<h3>{{produit.libelle}}</h3>
						</a>
						<div class="price_box">
							<span class="new_price">{{produit.price}}</span>
							<!--<span class="old_price">$60.00</span>-->
						</div>
						<ul>
							<li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Ajouter au favoris"><i class="ti-heart"></i><span>Ajouter au favoris</span></a></li>
						<!--	<li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to compare"><i class="ti-control-shuffle"></i><span>Add to compare</span></a></li>-->
							<li><a href="#0" class="tooltip-1 ted" data-bs-toggle="tooltip" data-bs-placement="left" title="Ajouter au panier "><i class="ti-shopping-cart"></i><span>Ajouter au panier</span></a></li>
						</ul>
					</div>
					<!-- /grid_item -->
				</div>
				<!-- /col -->
				{% endfor%}

			</div>
			<!-- /row -->

				<div class="pagination__wrapper no_border add_bottom_30">
						{%if produits.has_other_pages %}
						<ul class="pagination">
							{% if produits.has_previous %}
							<li><a href="?page={{produits.previous_page_number}}" class="prev" title="previous page">&#10094;</a></li>
							{% else %}
							 <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        {% endif %}
		{% for i in produits.paginator.page_range %}
		{% if produits.number == i %}
		<li class="page-item"><a class="page-link active">{{ i }}</a></li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
		{% endfor %}
		{% if produits.has_next %}
        <li class="page-item">
          <a href="?page={{produits.next_page_number}}" class="page-link">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link">&raquo;</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
					</div>
					<!-- /pagination -->

			<!--<div class="pagination__wrapper">
				<ul class="pagination">
					<li><a href="#0" class="prev" title="previous page">&#10094;</a></li>
					<li>
						<a href="#0" class="active">1</a>
					</li>
					<li>
						<a href="#0">2</a>
					</li>
					<li>
						<a href="#0">3</a>
					</li>
					<li>
						<a href="#0">4</a>
					</li>
					<li><a href="#0" class="next" title="next page">&#10095;</a></li>
				</ul>
			</div>-->

{% endblock%}
	<!-- /main -->
{% include 'composants/footer.html'%}

	</div>
	<!-- page -->
{% block js%}
<script type="text/javascript">
	if (localStorage.getItem('panier')==null){
	var panier={};
	}
	else{
	panier=JSON.parse(localStorage.getItem('panier'));
	}
	$(document).on('click','.ted',function(){
		console.log('click');
	})
</script>
{% endblock%}
