{% load static%}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guinea Structure</title>
    <link rel="stylesheet" type="text/css" href="{% static 'authentification/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'authentification/css/fontawesome-all.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'authentification/css/iofrm-style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'authentification/css/iofrm-theme9.css'%}">
       <link rel="stylesheet" type="text/css" href="{% static 'authentification/css/iofrm-theme23.css'%}">
</head>
<body>
{% block content %}

{% endblock%}
<script src="{% static 'authentification/js/jquery.min.js'%}"></script>
<script src="{% static 'authentification/js/popper.min.js'%}"></script>
<script src="{% static 'authentification/js/bootstrap.min.js'%}"></script>
<script src="{% static 'authentification/js/main.js'%}"></script>
</body>
</html>