{% extends 'pages/authentification/base_auth.html'%}
{% load static%}
{% block content%}
 <div class="form-body">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="images/logo-light.svg" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <h3>Get more things done with Loggin platform.</h3>
                    <p>Access to the most powerfull tool in the entire design and web industry.</p>
                    <img src="images/graphic4.svg" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form">
                        <div class="website-logo-inside">
                            <a href="{% url 'home'%}">
                                <div class="logo">
                                    <img class="logo-size" src="{% static 'authentification/images/logo-light.svg'%}" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="tick-holder">
                            <div class="tick-icon"></div>
                        </div>
                        <h3>Password modifié avec succès</h3>
                        <p>Votre mot de passe a été réinstialliser avec succès</p>
                        <div class="info-holder">
                            <a href="{%url 'login'%}">Connexion</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock%}