{% extends 'pages/authentification/base_auth.html'%}
{% load static%}
{% block content%}
    <div class="form-body">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="{% static 'authentification/images/logo-light.svg'%}" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <h3>Modifier Mot de passe.</h3>
                    <p>Access to the most powerfull tool in the entire design and web industry.</p>
                    <img src="{% static 'authentification/images/graphic4.svg'%}" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <div class="website-logo-inside">
                            <a href="index.html">
                                <div class="logo">
                                    <img class="logo-size" src="{% static 'authentification/images/logo-light.svg'%}" alt="">
                                </div>
                            </a>
                        </div>

                         {% if messages %}
                        <div>
                            <ul class="messages">
                                {% for message in messages%}
                                <li {% if message.tags%} class="{{message.tags}}"{% endif%}>{{message}}</li>
                                {% endfor%}
                            </ul>
                        </div>
                        {% endif%}
                        <form method="post">
                            {% csrf_token%}
                            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" placeholder="Mot de passe" required id="id_new_password1">
                            <input class="form-control" type="password" name="new_password2" autocomplete="new-password" placeholder="Confirmer Mot de passe" required id="id_new_password_2">
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Modifier Mot de passe</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}