{% extends 'base.html'%}
{% load static%}

    {%block specific_css%}
 <!-- SPECIFIC CSS -->
    <link href="{% static 'css/blog.css'%}" rel="stylesheet">

 {% endblock%}
{% block content%}

		<div class="container margin_30">
			<div class="page_header">
				<div class="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Category</a></li>
						<li>Page active</li>
					</ul>
				</div>
			</div>
			<!-- /page_header -->
            <!-- /AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA -->

			<div class="row">
				<div class="col-lg-9">
					<div class="singlepost">
						<figure><img alt="" class="img-fluid" src="{{post.image.url}}"></figure>
						<h1>{{post.titre}}</h1>
						<div class="postmeta">
							<ul>
								<li><a href="#"><i class="ti-folder"></i> {{post.category}}</a></li>
								<li><i class="ti-calendar"></i> {{post.date}}</li>
								<li><a href="#"><i class="ti-user"></i> {{post.user}}</a></li>
								<li><a href="#"><i class="ti-comment"></i> (14) Comments</a></li>
							</ul>
						</div>
						<!-- /post meta -->
						<div class="post-content">
							<div class="dropcaps">
								<p>{{post.get_text_to_md}}</p>
							</div>

							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
						</div>
						<!-- /post -->
					</div>
					<!-- /single-post -->

					<div id="comments">
						<h5>Commentaire</h5>
						<ul>
							{% for comment in post.comments_set.all %}
							<li>
								<div class="avatar">
									<a href="#"><img src="{{comment.user.photo.url}}" alt="">
									</a>
								</div>
								<div class="comment_right clearfix">
									<div class="comment_info">
										By <a href="#">{{comment.user.username}}</a><span>|</span>{{comment.date}}<span>|</span><a href="#"><i class="icon-reply"></i></a>
									</div>
									<p>
										{{comment.commentaire}}
									</p>
								</div>
								{% if comment.reponse_set.count == 0 %}
								<ul class="replied-to">
									{% for reponse in comment.reponse_set.all%}
									<li>
										<div class="avatar">
											<a href="#"><img src="{{reponse.user.profile.url}}" alt="">
											</a>
										</div>
										<div class="comment_right clearfix">
											<div class="comment_info">
												Par <a href="#">{{reponse.user.username}}</a><span>|</span>{{reponse.date}}<span>|</span><a href="#"><i class="icon-reply"></i></a>
											</div>
											<p>
											{{reponse.contenu}}									</p>
											</p>
										</div>

									</li>
									{% endfor%}
								</ul>
								{% endif%}
							</li>
							{% endfor%}

						</ul>
					</div>

					<hr>
					{% if user.is_authenticated %}

					<h5>Laissez un commentaire</h5>
					<!--<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="form-group">
								<input type="text" name="name" id="name2" class="form-control" placeholder="Name">
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="form-group">
								<input type="text" name="email" id="email2" class="form-control" placeholder="Email">
							</div>
						</div>
						<div class="col-md-4 col-sm-12">
							<div class="form-group">
								<input type="text" name="email" id="website3" class="form-control" placeholder="Website">
							</div>
						</div>
					</div>-->
<form method="POST">
	 {% csrf_token %}
					<div class="form-group">
						<textarea class="form-control" name="commentaire" id="id_commentaire" rows="6" placeholder="Votre commentaire"></textarea>
					</div>
					<div class="form-group">
						<button type="submit" id="submit2" class="btn_1 add_bottom_15">Commenter</button>
					</div>
	</form>
					{% endif%}

				</div>
				<!-- /col -->

				{% include 'composants/aside_blog.html'%}
				<!-- /aside -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->




{% endblock%}
	<!-- /main -->
{% include 'composants/footer.html'%}

	</div>
	<!-- page -->
